<div id="<%= dom_id mock %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Path:</strong>
    <%= mock.path %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Request method:</strong>
    <%= mock.request_method %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this mock", mock, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this mock', edit_mock_path(mock), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
